<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.group8.yugui.persistance.ShoplistMapper">
    <select id="getShoplistByUserID" parameterType="java.lang.Integer" resultType="com.group8.yugui.domain.Shoplist">
        SELECT
          `shoplist`.merchandiseID,
          `shoplist`.num,
          `shoplist`.userID,
          `category`.picture,
          `category`.name
        FROM `shoplist`,`category`
        WHERE `shoplist`.userID = #{userID}
        AND `category`.merchandiseID = `shoplist`.merchandiseID
    </select>

    <insert id="setShopByUserID" parameterType="com.group8.yugui.domain.Shoplist" >
        INSERT INTO `shoplist`
        (shoplistID, num, merchandiseID, userID)
        VALUES
        (#{shoplistID}, #{num}, #{merchandiseID}, #{userID})
    </insert>
</mapper>